body {
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(24, 24, 24);
    width: 100vw;
    color: white;
    
}

h1{ 
    font-size: 50px;
    text-shadow: 4px 1px rgba(0, 0, 0, 0.719);
    margin: 0 auto;
}

#description {
    font-size: 20px;
    padding-bottom: 20px;
    width: 25%;
    min-width: 300px;
    margin: 0 auto;
    color: rgba(226, 69, 213, 0.9);;
}

article {
    
}

#bio{
    margin: 0 auto;
    background-color: rgb(255, 129, 244);
    width: 50%;
    min-width: 700px;
    padding: 10px ;
    border-radius: 35px 2px;
    display: inline-block;

}

#bio-text {
    margin: 10px 12px 10px auto;
    width: 80%;
    color: rgb(24, 24, 24);
    text-align: left;
    font-size: medium;
}